body{
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}
a{
  text-decoration: none;
}
.logo{
  margin-left: 20px;
}

.card {

  width: 300px;
  margin: 20px;
  height:680px

 
}

.result {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}

.cart-itmes{
   margin-left: 20px;

}
.chap-conti{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 40px;
}
.summer-img{
width: 300px;



}

.autmn-img{
  width: 300px;
 margin-left: 10px;
 
}
.winter-img{
  width: 300px;

  margin-top: 20px;
  
}

.cart-itmes{
  margin-top: 100px;
  text-align: center;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  border-radius: 7%;

}